{% extends 'base.html' %}
{% set active = "Our trips" %}
{% set active_cont = "America" %}

{% block title %}
Related Sites
{% endblock %}

{% block content %}

<span class="path"> Our trips > <a class="path" style="text-decoration: none;" href="/america"> America </a> > Central America</span>

<section id="trips">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="../../static/img/trips/alex-azabache-8L7mOETNgHA-unsplash.jpg" alt="">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-8">
        <h2>Mexico</h2>
        <ul>
          <li>Teotihuacan, maybe the holiest site of the pre-Columbian civilizations</li>
          <li>Mexico City</li>
          <li>Queretaro, one of most authentic cities in the world</li>
        </ul>
        <a class="btn" href="/mexico">Learn more</a>
      </div>
      <div class="date col-lg-2 col-sm-4">
        Days<br><b>11</b><br> <hr>Price<br><b>$945</b>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="../../static/img/trips/stephan-valentin-qRBNM6GmXDE-unsplash.jpg" alt="">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-8">
        <h2>Cuba</h2>
        <ul>
          <li>A visit to the Havana Club museum - Rum tasting</li>
          <li>Boat ride at Treasure Lake</li>
          <li>Ride in the traditional cars of the 1950s</li>
        </ul>
        <a class="btn" href="/cuba">Learn more</a>
      </div>
      <div class="date col-lg-2 col-sm-4">
        Days<br><b>13</b><br> <hr>Price<br><b>$1200</b>
      </div>
    </div>
</section>

{% endblock %}