{% extends 'base.html' %}
{% set active = "Our trips" %}
{% set active_cont = "America" %}

{% block title %}
Related Sites
{% endblock %}

{% block content %}

<span class="path"> Our trips > <a class="path" style="text-decoration: none;" href="/america"> America </a> > South America</span>

<section id="trips">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="../../static/img/trips/adrian-dascal-MA-PJgsOhNo-unsplash.jpg" alt="">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-8">
        <h2>Peru - Bolivia</h2>
        <ul>
          <li>Overnight stay in the Sacred Valley of the Incas</li>
          <li>Visit alpacas park</li>
          <li>Arequipa, the second largest city in Peru</li>
        </ul>
        <a class="btn" href="/peru_bolivia">Learn more</a>
      </div>
      <div class="date col-lg-2 col-sm-4">
        Days<br><b>17</b><br> <hr>Price<br><b>$3100</b>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="../../static/img/trips/derek-oyen-lYv3hXpFdeY-unsplash.jpg" alt="">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-8">
        <h2>Argentina - Rio de Janeiro</h2>
        <ul>
          <li>Visit Buenos Aires, heart of Argentina</li>
          <li>Iguassu Falls, the natural border between Argentina and Brazil</li>
          <li>Rio de Janeiro, Copa Cabana and Chirst the Redeemer statue</li>
        </ul>
        <a class="btn" href="/argentina">Learn more</a>
      </div>
      <div class="date col-lg-2 col-sm-4">
        Days<br><b>12</b><br> <hr>Price<br><b>$2400</b>
      </div>
    </div>
</section>

{% endblock %}