{% extends 'base.html' %}
{% set active = "Our trips" %}
{% set active_cont = "Africa" %}

{% block title %}
Related Sites
{% endblock %}

{% block content %}
<section id="trips">
  <span class="path">Our trips > Africa</span>
  <h1>africa</h1>


  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <img src="../../static/img/africa/sergey-pesterev-DWXR-nAbxCk-unsplash.jpg" alt="">
    </div>
    <div class="col-lg-8 col-md-6 col-sm-12">
      <h2>Kenya - Uganda</h2>
      <p>
      Drexel Bikes is our person portal to <a href="https://drexel.edu/studentlife/activities-involvement/student-centers">Drexel Bike Share</a>. 
      There isn't much to this site right now, but we could extend it into something very cool.
      There isn't much to this site right now, but we could extend it into something very cool.
      </p>
      <a class="btn" href="/kenya_uganda">Learn more</a>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <img src="../../static/img/africa/adrian-dascal-GXIr_uawluA-unsplash.jpg" alt="">
    </div>
    <div class="col-lg-8 col-md-6 col-sm-12">
      <h2>Egypt</h2>
      <p>
      Drexel Bikes is our person portal to <a href="https://drexel.edu/studentlife/activities-involvement/student-centers">Drexel Bike Share</a>. 
      There isn't much to this site right now, but we could extend it into something very cool.
      There isn't much to this site right now, but we could extend it into something very cool.
      </p>
      <a class="btn" href="/egypt">Learn more</a>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <img src="../../static/img/africa/haythem-gataa-0PttCpXB6lY-unsplash.jpg" alt="">
    </div>
    <div class="col-lg-8 col-md-6 col-sm-12">
      <h2>Tunisia</h2>
      <p>
      Drexel Bikes is our person portal to <a href="https://drexel.edu/studentlife/activities-involvement/student-centers">Drexel Bike Share</a>. 
      There isn't much to this site right now, but we could extend it into something very cool.
      There isn't much to this site right now, but we could extend it into something very cool.
      </p>
      <a class="btn" href="/tunisia">Learn more</a>
    </div>
  </div>

</section>
{% endblock %}