{% extends 'base.html' %}
{% set active = "Our trips" %}
{% set active_cont = "Europe" %}

{% block title %}
Related Sites
{% endblock %}

{% block content %}

<section id="trips">
  <span class="path">Our trips > Europe</span>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <img src="../../static/img/europe/66-north-Xy5yA42GHvQ-unsplash.jpg" alt="">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-8">
      <h2>Baltic Region</h2>
      <ul>
        <li>Estonia's capital, Tallinn and Estonia's oldest city Tartu</li>
        <li>Trakai castle and its museum</li>
        <li>Summer palace of Peter the Great in Tallin</li>
        <li>Capital of Latvia, Riga and Lithuania's Vilnius</li>

      </ul>
      <a class="btn" href="/baltics">Learn more</a>
    </div>
    <div class="date col-lg-2 col-sm-4">
      Days<br><b>8</b><br> <hr>Price<br><b>$739</b>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <img src="../../static/img/europe/matthew-waring-zp295I3rJJ8-unsplash.jpg" alt="">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-8">
      <h2>Iberian Peninsula</h2>
      <ul>
        <li>Visit Lisbon and the westernmost places in Europe</li>
        <li>Barcelona and the buildings of Antoni Gaudí,</li>
        <li>Medieval city of Gerona in Catalonia</li>
      </ul>
      <a class="btn" href="/iberian_peninsula">Learn more</a>
    </div>
    <div class="date col-lg-2 col-sm-4">
      Days<br><b>7</b><br> <hr>Price<br><b>$699</b>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <img src="../../static/img/europe/quaritsch-photography-GAxttmVKQtI-unsplash.jpg" alt="">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-8">
      <h2>Italy</h2>
      <ul>
        <li>Rome,visit and tour in Colosseum</li>
        <li>Exploration of the Ligurian coast, La Spezia and the Cinque Terre area</li>
        <li>Villages of Montalcino, medieval Siena and San Gimignano</li>
        <li>Pisa's Leaning tower</li>
      </ul>
      <a class="btn" href="/rome">Learn more</a>
    </div>
    <div class="date col-lg-2 col-sm-4">
      Days<br><b>6</b><br> <hr>Price<br><b>$570</b>
    </div>
  </div>
</section>
{% endblock %}