{% extends 'base.html' %}
{% set active = "Our trips" %}
{% set active_cont = "Oceania" %}

{% block title %}
Related Sites
{% endblock %}

{% block content %}
<span class="path">Our trips > Oceania</span>

<section id="trips">

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="../../static/img/trips/surya-prakosa-QqZqRN7iThY-unsplash.jpg" alt="">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-8">
        <h2>West Papua</h2>
        <ul>
          <li>Contact with original tribes of West Papua</li>
          <li>Boat ride in Braza river</li>
          <li>Overnight in Raja Ampat sea</li>
        </ul>
         <a class="btn" href="/west_papua">Learn more</a>
      </div>
      <div class="date col-lg-2 col-sm-4">
        <!-- <h6>Days</h6><br>16<br><h6>Price</h6><br>$4300 -->
        Days<br><b>21</b><br> <hr>Price<br><b>$7100</b>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="../../static/img/trips/sophie-turner-LZVmvKlchM0-unsplash.jpg" alt="">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-8">
        <h2>New Zealand</h2>
        <ul>
          <li>Initiation into Maori civilization</li>
          <li>Rainbow Springs Park fauna and Rotorua</li>
          <li>Cruise in Milford's branches </li>
        </ul>
         <a class="btn" href="/new_zealand">Learn more</a>
      </div>
      <div class="date col-lg-2 col-sm-4">
        Days<br><b>16</b><br> <hr>Price<br><b>$5900</b>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="../../static/img/trips/oskars-sylwan--ikXCRAII3Y-unsplash.jpg" alt="">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-8">
        <h2>Sidney and Blue Mountains</h2>
        <ul>
          <li>Two-day trip to Ayers Rock</li>
          <li>Kuranda Rainforest and ride Skyrail over the rainforest</li>
          <li>Catamaran cruise, Great Coral Reef and snorkeling</li> 
          <li>Blue Mountains excursion, koalas park, kangaroos park</li>
        </ul>
         <a class="btn" href="/sidney">Learn more</a>
      </div>
      <div class="date col-lg-2 col-sm-4">
        Days<br><b>11</b><br> <hr>Price<br><b>$4300</b>
      </div>
    </div>

    <!-- <table> -->
      <!-- <tr> -->
        <!-- <td class="col-lg-4 col-md-6 col-sm-12" ><img src="../../static/img/oceania/oskars-sylwan--ikXCRAII3Y-unsplash.jpg" alt=""></td> -->
        <!-- <td class="col-lg-8 col-md-6 col-sm-12"> -->
          <!-- <h2>Sidney and Blue Mountains</h2> -->
          <!-- <p> -->
          <!-- Drexel Bikes is our person portal to <a href="https://drexel.edu/studentlife/activities-involvement/student-centers">Drexel Bike Share</a>.  -->
          <!-- There isn't much to this site right now, but we could extend it into something very cool. -->
          <!-- There isn't much to this site right now, but we could extend it into something very cool. -->
          <!-- </p> -->
          <!-- <a class="btn" href="/sidney">Learn more</a> -->
        <!-- </td> -->
      <!-- </tr> -->
    <!-- </table> -->

    <!-- <div> -->
      <!-- <img src="../../static/img/philly.jpg" alt=""> -->
      <!-- <span> -->
        <!-- Drexel Bikes is our person portal to <a href="https://drexel.edu/studentlife/activities-involvement/student-centers">Drexel Bike Share</a>.  -->
        <!-- There isn't much to this site right now, but we could extend it into something very cool. -->
        <!-- There isn't much to this site right now, but we could extend it into something very cool. -->
        <!-- There isn't much to this site right now, but we could extend it into something very cool. -->
      <!-- </span> -->
    <!-- </div> -->

</section>
{% endblock %}