{% extends 'base.html' %}
{% set active = "Our trips" %}
{% set active_cont = "Asia" %}

{% block title %}
Related Sites
{% endblock %}

{% block content %}

<span class="path"> Our trips > <a class="path" style="text-decoration: none;" href="/asia"> Asia </a> > Far East</span>

<section id="trips">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="../../static/img/asia/meric-dagli-7NBO76G5JsE-unsplash.jpg" alt="">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-8">
        <h2>Japan</h2>
        <ul>
          <li>"Japanese Alps" and part of traditional Japan</li>
          <li>2 nights in traditional Kyoto</li>
          <li>Trips by bullet train</li>
          <li>Visit to the Tokyo National Museum, the oldest and largest in Japan</li>
        </ul>
        <a class="btn" href="/japan">Learn more</a>
      </div>
      <div class="date col-lg-2 col-sm-4">
        Days<br><b>12</b><br> <hr>Price<br><b>$3200</b>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="../../static/img/asia/cait-ellis-Erld-XTqXv0-unsplash.jpg" alt="">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-8">
        <h2>South Korea</h2>
        <ul>
          <li>Acquaintance with Seoul, with the impressive Geyongbok Palace</li>
          <li>Passing by the Gwangwamun Square and the commercial district Miengdong</li>
          <li>Visit the great Daereungwon tomb complex</li>
        </ul>
        <a class="btn" href="/south_korea">Learn more</a>
      </div>
      <div class="date col-lg-2 col-sm-4">
        Days<br><b>14</b><br> <hr>Price<br><b>$4300</b>
      </div>
    </div>
</section>
{% endblock %}