{% extends 'base.html' %}
{% set active = "Our trips" %}
{% set active_cont = "Asia" %}

{% block title %}
Related Sites
{% endblock %}

{% block content %}

<span class="path"> Our trips > <a class="path" style="text-decoration: none;" href="/asia"> Asia </a> > Indian Peninsula</span>

<section id="trips">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="../../static/img/asia/srivatsan-balaji-T5s48osIQTU-unsplash.jpg" alt="">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-8">
        <h2>North India - Nepal</h2>
        <ul>
          <li>Accommodation in Kathmandu</li>
          <li>Visit Varanasi, the "Mecca of the Hindus"</li>
          <li>Stay at the unique Kajuraho</li>
        </ul>
        <a class="btn" href="/n_india_nepal">Learn more</a>
      </div>
      <div class="date col-lg-2 col-sm-4">
        Days<br><b>13</b><br> <hr>Price<br><b>$1090</b>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="../../static/img/asia/oliver-sjostrom-rhlV7hF-sVY-unsplash.jpg" alt="">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-8">
        <h2>Sri Lanka</h2>
        <ul>
          <li>Visit capital of Sri Lanka, Colombo</li>
          <li>A boat safari observing the tropical nature and how local life develops on the river banks</li>
          <li>Stay in the country's largest park, Yala Park</li>
        </ul>
        <a class="btn" href="/sri_lanka">Learn more</a>
      </div>
      <div class="date col-lg-2 col-sm-4">
        Days<br><b>8</b><br> <hr>Price<br><b>$1600</b>
      </div>
    </div>
</section>
{% endblock %}