{% extends 'base.html' %}
{% set active = "Our trips" %}
{% set active_cont = "Asia" %}

{% block title %}
Related Sites
{% endblock %}

{% block content %}

<span class="path"> Our trips > <a class="path" style="text-decoration: none;" href="/asia"> Asia </a> > Indian Peninsula</span>
<h1>indian_peninsula</h1>

<section id="trips">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="../../static/img/asia/srivatsan-balaji-T5s48osIQTU-unsplash.jpg" alt="">
      </div>
      <div class="col-lg-8 col-md-6 col-sm-12">
        <h2>North India - Nepal</h2>
        <p>
        Drexel Bikes is our person portal to <a href="https://drexel.edu/studentlife/activities-involvement/student-centers">Drexel Bike Share</a>. 
        There isn't much to this site right now, but we could extend it into something very cool.
        There isn't much to this site right now, but we could extend it into something very cool.
        </p>
        <a class="btn" href="/n_india_nepal">Learn more</a>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="../../static/img/asia/oliver-sjostrom-rhlV7hF-sVY-unsplash.jpg" alt="">
      </div>
      <div class="col-lg-8 col-md-6 col-sm-12">
        <h2>Sri Lanka</h2>
        <p>
        Drexel Bikes is our person portal to <a href="https://drexel.edu/studentlife/activities-involvement/student-centers">Drexel Bike Share</a>. 
        There isn't much to this site right now, but we could extend it into something very cool.
        There isn't much to this site right now, but we could extend it into something very cool.
        </p>
        <a class="btn" href="/sri_lanka">Learn more</a>
      </div>
    </div>
</section>
{% endblock %}