{% extends 'base.html' %}
{% set active = "Our trips" %}
{% set active_cont = "Asia" %}

{% block title %}
Related Sites
{% endblock %}

{% block content %}

<span class="path"> Our trips > <a class="path" style="text-decoration: none;" href="/asia"> Asia </a> > Indochina </span>
<h1>indian_peninsula</h1>

<section id="trips">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="../../static/img/asia/joshua-rawson-harris-S4ZkQykkeRs-unsplash.jpg" alt="">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-8">
        <h2>Thailand</h2>
        <p>
        Drexel Bikes is our person portal to <a href="https://drexel.edu/studentlife/activities-involvement/student-centers">Drexel Bike Share</a>. 
        There isn't much to this site right now, but we could extend it into something very cool.
        There isn't much to this site right now, but we could extend it into something very cool.
        </p>
        <a class="btn" href="/thailand">Learn more</a>
      </div>
      <div class="date col-lg-2 col-sm-4">
        Days<br><b>11</b><br> <hr>Price<br><b>$990</b>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="../../static/img/asia/giau-tran-ZMdXvd6jGww-unsplash.jpg" alt="">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-8">
        <h2>Vietnam - Cambodia</h2>
        <p>
        Drexel Bikes is our person portal to <a href="https://drexel.edu/studentlife/activities-involvement/student-centers">Drexel Bike Share</a>. 
        There isn't much to this site right now, but we could extend it into something very cool.
        There isn't much to this site right now, but we could extend it into something very cool.
        </p>
        <a class="btn" href="/vietnam_cambodia">Learn more</a>
      </div>
      <div class="date col-lg-2 col-sm-4">
        Days<br><b>13</b><br> <hr>Price<br><b>$1500</b>
      </div>
    </div>
</section>

{% endblock %}