{% extends 'base.html' %}
{% set active = "Our trips" %}
{% set active_cont = "Asia" %}

{% block title %}
Related Sites
{% endblock %}

{% block content %}

<!-- <span class="path"> Our trips > Asia > Middle East</span> -->
<span class="path"> Our trips > <a class="path" style="text-decoration: none;" href="/asia"> Asia </a> > Middle East</span>

<section id="trips">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="../../static/img/trips/fatih-yurur-kNSREmtaGOE-unsplash.jpg" alt="">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-8">
        <h2>Istanbul</h2>
        <ul>
           <li>Walking tour of the Fanari, the Old Quarter of Peran and the Tower of Galata</li>
          <li>Ride on the Keratian Bay by boat</li>
          <li>Cruise on the Bosphorus, the coastal Sultan palaces</li>
        </ul>
        <a class="btn" href="/istanbul">Learn more</a>
      </div>
      <div class="date col-lg-2 col-sm-4">
        Days<br><b>6</b><br> <hr>Price<br><b>$630</b>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="../../static/img/trips/spencer-davis-Ivwyqtw3PzU-unsplash.jpg" alt="">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-8">
        <h2>Jordan</h2>
        <ul>
          <li>Visit Madaba, Jordan's most important Christian center</li>
          <li>Overnight stay in Bedouin tent in the desert</li>
          <li>Dead Sea, a stunning natural phenomenon</li>

        </ul>
        <a class="btn" href="/jordan">Learn more</a>
      </div>
      <div class="date col-lg-2 col-sm-4">
        Days<br><b>8</b><br> <hr>Price<br><b>$799</b>
      </div>
    </div>
</section>

{% endblock %}