{% extends 'base.html' %}
{% set active = "About" %}

{% block title %}
Related Sites
{% endblock %}

{% block content %}
<!-- <div class="about-content"> -->
<section id="about">
    <h1>About Globus</h1>
    <p>
        We are a group of young and promising people who love traveling and want to share their experiences with others.
        We have spent a great part of our lives visiting different places and discovering new worlds but we have not found yet
        a trip organizer who could meet our expectations – so we decided to become the one!  We came all together and drew plans and
        itineraries and this is how GLOBUS has emerged!
    </p>
    <p>
        Come with us to show you what other travel agencies don’t show you! Let us take you to the most remote places, the most
        exciting journeys, and you will discover the hidden jewels of our planet and our civilization.  We have chosen the nicest hotels
        you could afford and employed the best team leaders you could imagine. Above all, we take care of your safety and your well being
        and we organize unforgettable trips that will be your once-in-a- lifetime experience.
    </p>
</section>
<!-- </div> -->

{% endblock %}