<!-- Danai Roumelioti, dr3248@drexel.edu -->
<!-- CS530: dr3248, Assignment 2  -->

{% extends 'base.html' %}
{% set active = "Home" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<section id="home">
  <h1>Let's GLOBUS your next adventure.</h1>
    <section class="carousel-section">
        <div id="home-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#home-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#home-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#home-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#home-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#home-carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
              <button type="button" data-bs-target="#home-carousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
              <button type="button" data-bs-target="#home-carousel" data-bs-slide-to="6" aria-label="Slide 7"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active container-fluid" data-bs-interval="2000">
                <img class="home-img" src="../static/img/aaron-sebastian-bfgEYpS0Znk-unsplash.jpg" alt="river-image">
              </div>
              <div class="carousel-item container-fluid" data-bs-interval="2000">
                <img class="home-img" src="../static/img/hu-chen-0LwfbRtQ-ac-unsplash.jpg" alt="saf-image">
              </div>
              <div class="carousel-item container-fluid" data-bs-interval="2000">
                <img class="home-img" src="../static/img/jordan-whitt-EerxztHCjM8-unsplash.jpg" alt="saf-image">
              </div>
              <div class="carousel-item container-fluid" data-bs-interval="2000">
                <img class="home-img" src="../static/img/kiyoshi-Plgu4IpxxnQ-unsplash.jpg" alt="mountain-image">
              </div>
              <div class="carousel-item container-fluid" data-bs-interval="2000">
                <img class="home-img" src="../static/img/randy-fath-epf1tdtIIkM-unsplash.jpg" alt="sunset-image">
              </div>
              <div class="carousel-item container-fluid" data-bs-interval="2000">
                <img class="home-img" src="../static/img/timur-garifov-PKZtpOIMRYk-unsplash.jpg" alt="mountain-image">
              </div>
              <div class="carousel-item container-fluid" data-bs-interval="2000">
                <img class="home-img" src="../static/img/tegan-mierle-fDostElVhN8-unsplash.jpg" alt="saf-image">
              </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#home-carousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#home-carousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
</section>


<!--EVAN BELOW CAROUSEL-->

<br>
<br>
<section class = "packages" id = "packages">
  <h1 class = "heading">
    POPULAR TRIPS
  </h1>

  <div class="row">
    <div class="region-col col-lg-4 col-md-4 col-sm-4">
      <div class="card">
        <div class="card-body">
          <img src="../static/img/asia/meric-dagli-7NBO76G5JsE-unsplash.jpg" alt="">
        </div>
        <a class="btn" href="/japan">Japan</a>
      </div>
    </div>

    <div class="region-col col-lg-4 col-md-4 col-sm-4">
      <div class="card">
        <div class="card-body">
          <img src="../static/img/asia/joshua-rawson-harris-S4ZkQykkeRs-unsplash.jpg" alt="">
        </div>
        <a class="btn" href="/thailand">Thailand</a>
      </div>
    </div>

    <div class="region-col col-lg-4 col-md-4 col-sm-4">
      <div class="card">
        <div class="card-body">
          <img src="../static/img/america/stephan-valentin-qRBNM6GmXDE-unsplash.jpg" alt="">
        </div>
        <a class="btn" href="/cuba">Cuba</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="region-col col-lg-4 col-md-4 col-sm-4">
      <div class="card">
        <div class="card-body">
          <img src="../static/img/africa/sergey-pesterev-DWXR-nAbxCk-unsplash.jpg" alt="">
        </div>
        <a class="btn" href="/kenya_uganda">Kenya Uganda</a>
      </div>
    </div>

    <div class="region-col col-lg-4 col-md-4 col-sm-4">
      <div class="card">
        <div class="card-body">
          <img src="../../static/img/africa/adrian-dascal-GXIr_uawluA-unsplash.jpg" alt="">
        </div>
        <a class="btn" href="/egypt">Egypt</a>
      </div>
    </div>

    <div class="region-col col-lg-4 col-md-4 col-sm-4">
      <div class="card">
        <div class="card-body">
          <img src="../static/img/europe/66-north-Xy5yA42GHvQ-unsplash.jpg" alt="">
        </div>
        <a class="btn" href="/baltics">Baltic Region</a>
      </div>
    </div>
  </div>
</section>

<!-- USER REVIEWS SECTION -->

<section id="reviews">
  <h1 class = "heading">USER REVIEWS  </h1>
  <div class="profile-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card">
            <div class="img1"><img src="../static/img/america/marv-watson-UfK0P6WygEE-unsplash.jpg"></div>
            <div class="img2"><img src="../static/img/person-3.jpg"></div>
            <div class="main-text">
              <h2>Emily P.</h2>
              <p>Beautiful trip! Wonderful colors! A different world! I am just excited! Our guide was wonderful and very patient too! Thank you GLOBUS!</p>
            </div>
            <div class="socials">
              <i class="fa fa-facebook"></i>
              <i class="fa fa-linkedin"></i>
              <i class="fa fa-dribble"></i>
              <i class="fa fa-twitter"></i>
            </div>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card">
            <div class="img1"><img src="../static/img/asia/tianshu-liu-SBK40fdKbAg-unsplash.jpg"></div>
            <div class="img2"><img src="../static/img/person-1.jpg"></div>
            <div class="main-text">
              <h2>Alan S.</h2>
              <p>It was my first trip overseas and with a group. An expedition trip with wonderful destinations, new cultures, many acquaintances and 
                a lot of good company, as there was a young response to the trip that gave it a pulse and extra vibrancy!</p>
            </div>
            <div class="socials">
              <i class="fa fa-facebook"></i>
              <i class="fa fa-linkedin"></i>
              <i class="fa fa-dribble"></i>
              <i class="fa fa-twitter"></i>
            </div>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card">
            <div class="img1"><img src="../static/img/asia/sylwia-bartyzel-eU4pipU_8HA-unsplash.jpg"></div>
            <div class="img2"><img src="../static/img/person-2.jpg"></div>
            <div class="main-text">
              <h2>Georgia T.</h2>
              <p>Thank you very much! It was a very special destination, a journey of discovery, of cultures, of religions, completely out of our comfort 
                zone. The leader was excellent and a very calm guide. A destination of revelation!</p>
            </div>
            <div class="socials">
              <i class="fa fa-facebook"></i>
              <i class="fa fa-linkedin"></i>
              <i class="fa fa-dribble"></i>
              <i class="fa fa-twitter"></i>
            </div>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

