<!-- Danai Roumelioti, dr3248@drexel.edu -->
<!-- CS530: dr3248, Assignment 2  -->

{% extends 'base.html' %}
{% set active = "Home" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<section id="home">
  <h1 clas = "heading">GLOBUS - Lets Plan your next adventure.</h1>
    <section class="carousel-section">
        <div id="home-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#home-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#home-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#home-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#home-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#home-carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
              <button type="button" data-bs-target="#home-carousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
              <button type="button" data-bs-target="#home-carousel" data-bs-slide-to="6" aria-label="Slide 7"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active container-fluid" data-bs-interval="2000">
                <img class="home-img" src="../static/img/aaron-sebastian-bfgEYpS0Znk-unsplash.jpg" alt="river-image">
              </div>
              <div class="carousel-item container-fluid" data-bs-interval="2000">
                <img class="home-img" src="../static/img/hu-chen-0LwfbRtQ-ac-unsplash.jpg" alt="saf-image">
              </div>
              <div class="carousel-item container-fluid" data-bs-interval="2000">
                <img class="home-img" src="../static/img/jordan-whitt-EerxztHCjM8-unsplash.jpg" alt="saf-image">
              </div>
              <div class="carousel-item container-fluid" data-bs-interval="2000">
                <img class="home-img" src="../static/img/kiyoshi-Plgu4IpxxnQ-unsplash.jpg" alt="mountain-image">
              </div>
              <div class="carousel-item container-fluid" data-bs-interval="2000">
                <img class="home-img" src="../static/img/randy-fath-epf1tdtIIkM-unsplash.jpg" alt="sunset-image">
              </div>
              <div class="carousel-item container-fluid" data-bs-interval="2000">
                <img class="home-img" src="../static/img/timur-garifov-PKZtpOIMRYk-unsplash.jpg" alt="mountain-image">
              </div>
              <div class="carousel-item container-fluid" data-bs-interval="2000">
                <img class="home-img" src="../static/img/tegan-mierle-fDostElVhN8-unsplash.jpg" alt="saf-image">
              </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#home-carousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#home-carousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>


    <!-- <div class="text-center"> -->
        <!-- <h1 class="jumbotron-heading">Drexel Bikes</h1> -->
        <!-- <p class="lead text-muted">Love bikes? We're here for you!</p> -->
        <!-- <p><img class="img-fluid jumbotron-img" src="../static/img/philly.jpg"></p> -->
        <!-- <p> -->
            <!-- <a href="/about" class="btn btn-secondary">Learn about us</a> -->
            <!-- <a href="/rent" class="btn btn-secondary">See our bikes</a> -->
        <!-- </p> -->
    <!-- </div> -->

</section>


    <!--EVAN BELOW CAROUSEL-->

    <br>
    <br>
    <section class = "packages" id = "packages">
      <h1 class = "heading">
        POPULAR TRIPS
      </h1>
    
      <div class="row">
        <div class="region-col col-lg-4 col-md-4 col-sm-4">
          <div class="card">
            <div class="card-body">
              <img src="../static/img/america/sonaal-bangera-XuQGqCBpNGk-unsplash.jpg" alt="">
            </div>
            <a class="btn" href="/north_america">North America</a>
          </div>
        </div>
    
        <div class="region-col col-lg-4 col-md-4 col-sm-4">
          <div class="card">
            <div class="card-body">
              <img src="../static/img/america/marv-watson-UfK0P6WygEE-unsplash.jpg" alt="">
            </div>
            <a class="btn" href="/central_america">Central America</a>
          </div>
        </div>
    
        <div class="region-col col-lg-4 col-md-4 col-sm-4">
          <div class="card">
            <div class="card-body">
              <img src="../static/img/america/gonzalo-kenny-KOICsAuhoc4-unsplash.jpg" alt="">
            </div>
            <a class="btn" href="/south_america">South America</a>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="region-col col-lg-4 col-md-4 col-sm-4">
          <div class="card">
            <div class="card-body">
              <img src="../static/img/africa/sergey-pesterev-DWXR-nAbxCk-unsplash.jpg" alt="">
            </div>
            <a class="btn" href="/kenya_uganda">Kenya Uganda</a>
          </div>
        </div>
    
        <div class="region-col col-lg-4 col-md-4 col-sm-4">
          <div class="card">
            <div class="card-body">
              <img src="../../static/img/europe/66-north-Xy5yA42GHvQ-unsplash.jpg" alt="">
            </div>
            <a class="btn" href="/egypt">Egypt</a>
          </div>
        </div>
    
        <div class="region-col col-lg-4 col-md-4 col-sm-4">
          <div class="card">
            <div class="card-body">
              <img src="../static/img/africa/haythem-gataa-0PttCpXB6lY-unsplash.jpg" alt="">
            </div>
            <a class="btn" href="/tunisia">Tunisia</a>
          </div>
        </div>
      </div>
</section>

<!-- USER REVIEWS SECTION -->

      <section>
        <h1 class = "heading">
      USER REVIEWS  </h1>
        <div class="profile-area">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="card">
                  <div class="img1"><img src="../static/img/america/marv-watson-UfK0P6WygEE-unsplash.jpg"></div>
                  <div class="img2"><img src="../static/img/person-3.jpg"></div>
                  <div class="main-text">
                    <h2>Person 1</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et consectetur fugiat sapiente consequuntur illum mollitia eos cupiditate necessitatibus, doloremque qui, ut, velit veritatis error aliquid quibusdam illo culpa voluptates tempora.</p>
                  </div>
                  <div class="socials">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-linkedin"></i>
                    <i class="fa fa-dribble"></i>
                    <i class="fa fa-twitter"></i>
                  </div>
                  <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                </div>
              </div>
      
              <div class="col-md-4">
                <div class="card">
                  <div class="img1"><img src="../static/img/america/marv-watson-UfK0P6WygEE-unsplash.jpg"></div>
                  <div class="img2"><img src="../static/img/person-1.jpg"></div>
                  <div class="main-text">
                    <h2>Person 2</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et consectetur fugiat sapiente consequuntur illum mollitia eos cupiditate necessitatibus, doloremque qui, ut, velit veritatis error aliquid quibusdam illo culpa voluptates tempora.</p>
                  </div>
                  <div class="socials">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-linkedin"></i>
                    <i class="fa fa-dribble"></i>
                    <i class="fa fa-twitter"></i>
                  </div>
                  <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                </div>
              </div>
      
              <div class="col-md-4">
                <div class="card">
                  <div class="img1"><img src="../static/img/america/marv-watson-UfK0P6WygEE-unsplash.jpg"></div>
                  <div class="img2"><img src="../static/img/person-2.jpg"></div>
                  <div class="main-text">
                    <h2>Person 3</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et consectetur fugiat sapiente consequuntur illum mollitia eos cupiditate necessitatibus, doloremque qui, ut, velit veritatis error aliquid quibusdam illo culpa voluptates tempora.</p>
                  </div>
                  <div class="socials">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-linkedin"></i>
                    <i class="fa fa-dribble"></i>
                    <i class="fa fa-twitter"></i>
                  </div>
                  <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      {% endblock %}

