{% extends 'base.html' %}
{% set active = "Login" %}

{% block title %}
Login 
{% endblock %}

{% block content %}

 
   <div class = "login-css">

   <section class="Form my-4 mx-5">
      <div class="container">
         <div class="row no-gutters">
            <div class="col-lg-5">
               <img src="../static/img/trips/giau-tran-ZMdXvd6jGww-unsplash.jpg" alt="trecking-image" alt="" class = "login-img img-fluid">
            </div>
            <div class="col-lg-7 px-5">
               <h1 class = "font-weight-bold py-3">Globus</h1>
               <h4>Signin into your account</h4>


               {% if message %}
               <div class="alert alert-danger">
                   {{ message }}
               </div>
               {% endif %}


               <form method="POST" name="loginform" action="/login">
                  <div class="form-row">
                     <div class="col-lg-7">
                        <input type="email" name = "username" class="form-control my-3 p-4" placeholder="Email">
                     </div>
                  </div>

                  <div class="form-row">
                     <div class="col-lg-7">
                        <input type="password" name = "password" class="form-control my-3 p-4" placeholder="Password">
                     </div>
                  </div>

                  <div class="form-row">
                     <div class="col-lg-7">
                        <button type="submit" class="btn1 mt-3 mb-5">Login</button>
                     </div>
                  </div>
                  <p>Don't have an account? <a href="/signup">Register here</a></p>
               </form>
            </div>
         </div>
      </div>
   </section>
</div>

 {% endblock %}
