{% extends 'base.html' %}

{% set active = "Our trips" %}
{% set active_cont = "Europe" %}

{% block title %}
Related Sites
{% endblock %}

{% block content %}

<span class="path"> Our trips > <a class="path" style="text-decoration: none;" href="/europe"> Europe </a> > Baltic Region</span>

<section class="trip-details">

    <section class="carousel-section">
      <div id="trips-carousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/europe/ilya-orehov-2OSEWkQHiGI-unsplash.jpg" alt="tribe-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/europe/66-north-Xy5yA42GHvQ-unsplash1.jpg" alt="coral-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/europe/tetiana-grypachevska-vM_IfygXnw4-unsplash.jpg" alt="bay-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/europe/vitalijs-barilo-Cr33_G7RDRQ-unsplash.jpg" alt="jungle-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/europe/milan-zmatlo-RNf05GAbUTU-unsplash.jpg" alt="house-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/europe/maksim-shutov-NMV4RIqrP-A-unsplash.jpg" alt="boy-img">
            </div>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#trips-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#trips-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>
    </section>
    <div class="trip-text">
      <h2>
        The trip in a nutshell
      </h2>
      <p>
        A journey that has become synonymous with Globus, thanks to our guaranteed weekly departures every summer to the three Baltic countries: 
        Estonia, Latvia, Lithuania. With the right duration, without cuts, so that we can have a thorough, rich trip, with half board daily and 
        with entrances to many attractions. This trip is first and foremost a trip back in time. With medieval buildings with roofs dating back 
        to the age of the knights and facades that run the gamut of pastel colors, narrow streets, cobbled roads, impressive castles, tranquil 
        lakes and beautiful routes, this itinerary has all the right ingredients to form a sensational experience in a Europe you can't imagine 
        exists.
      </p>
      <h6>What to expect</h6>
      <p>
        A rich program in the three Baltic States: Estonia, Latvia and Lithuania. Estonia's capital, beautiful Tallinn and Estonia's oldest city 
        Tartu, Latvia's capital Riga which is one of the best preserved cities in Europe, the Lithuanian capital Vilnius, with the neighboring 
        city of Trakai (Lithuania's first capital) and Kaunas are our stops on this wonderful journey.
      </p>
      <p>
        Entrance to nine impressive sights of the Baltic countries, which are omitted in other programs, such as the Trakai castle and its museum, 
        the Chiourlionis museum in Kaunas, the Rudale palace, the antique car museum in Riga, the medieval castle of Turida, the castle and museum 
        of Vittautauta, the summer palace of Peter the Great in Tallinn, and the restored church of St John with its unique terracotta statuettes 
        in Tartu.
      </p>
    </div>
</section>
{% endblock %}