{% extends 'base.html' %}

{% set active = "Our trips" %}
{% set active_cont = "America" %}

{% block title %}
Related Sites
{% endblock %}

{% block content %}
<span class="path"> Our trips > <a class="path" style="text-decoration: none;" href="/america"> America > </a>
<a class="path" style="text-decoration: none;" href="/central_america"> Central America </a> > Cuba</span>

<section class="trip-details">

    <section class="carousel-section">
      <div id="trips-carousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/america/spencer-everett-4MTSE39Oqro-unsplash.jpg" alt="tribe-img">
            </div>

            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/america/jessica-knowlden-nyBUfH9MkL4-unsplash.jpg" alt="coral-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/america/alexander-kunze-uLh71gTmZ4g-unsplash.jpg" alt="bay-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/america/tiago-claro-v0Aiibob-Q8-unsplash.jpg" alt="jungle-img">
            </div>

            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/america/xh_s-EgK7Qi5q2EM-unsplash.jpg" alt="house-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/america/arno-smit-fwtXC2sP7Tg-unsplash.jpg" alt="boy-img">
            </div>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#trips-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#trips-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>
    </section>
    <div class="trip-text">
      <h2>
        The trip in a nutshell
      </h2>
      <p>
        One of the journeys with which, from its very first steps, the Globus name has been identified is Cuba. Travelers have embraced the most 
        comprehensive program in the market and since our first trip to Cuba in the summer of 2009, we have continually added amenities, delighting 
        our thousands of travelers to this destination. But our great asset is not the excellent recently renovated - both because of location and 
        quality - Melia Cohiba Hotel, nor the 5* Nacional that we also use in Havana, nor the dozens of attractions we include in our program: it 
        is our fully qualified multinational guides (not local English speakers), who will be with you all the time during your stay on the island 
        and will show you step by step what tourists don't see in Cuba. The things we always say that "Cuba gives life lessons". They will show you 
        the real Cuba, the Cuba of the Cubans and not the tourist one. You see, you travel with Globus...
      </p>
      <h6>The trip also includes</h6>
      <ul>
        <li>In Varadero, the hotel Melia Varadero 5* All Inclusive, which will give you unforgettable days on the famous Caribbean beach, 
          enjoying unlimited drinks and meals</li>
        <li>A visit to the Havana Club museum to see how rum is made and tasting</li>
        <li>Visit to the crocodile breeding center in Guam</li>
        <li>Boat ride at Treasure Lake</li>
        <li>Visit to a cigar factory in Havana</li>
        <li>Entrance to the traditional bar La Canchanchara where we will be served the drink of the same name that the slaves drank on the 
          plantations</li>
        <li>Visit to the Thomas Terry Theatre in Cienfuegos</li>
        <li>Visit to the Indian cave, which we will cross by boat</li>
        <li>A ride in the traditional cars of the 1950s, which will take you back to the mafia era, to the Cuba of Lucky Luciano and Frank 
          Sinatra, on a nostalgic ride through the streets of semi-lit romantic Havana</li>
        <li>Dinner at a selected restaurant in a prime location in Havana</li>

      </ul>
    </div>
</section>
{% endblock %}