{% extends 'base.html' %}

{% set active = "Our trips" %}
{% set active_cont = "Africa" %}

{% block title %}
Related Sites
{% endblock %}

{% block content %}

<span class="path"> Our trips > <a class="path" style="text-decoration: none;" href="/africa"> Africa </a> > Egypt</span>

<section class="trip-details">

    <section class="carousel-section">
      <div id="trips-carousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/africa/jeremy-bishop-HcgK4WoBwzg-unsplash.jpg" alt="tribe-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/africa/mo-gabrail-iuC3w8mLDcs-unsplash.jpg" alt="coral-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/africa/omar-elsharawy-pwMbtwA9LRc-unsplash.jpg" alt="bay-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/africa/alex-azabache-hz4tKDvQHoo-unsplash.jpg" alt="jungle-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/africa/shreyas-nair-AA3QOukE92w-unsplash.jpg" alt="house-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/africa/simon-berger-boyXZfqpwpU-unsplash.jpg" alt="boy-img">
            </div>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#trips-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#trips-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>
    </section>
    <div class="trip-text">
      <h2>
        The trip in a nutshell
      </h2>
      <p>
        One of the most complete programs of the market in one of the most famous destinations in the world! Pyramids, mummies, pharaohs, 
        historical monuments of different eras, magnificent mosques, Christian churches, monastic centers, bazaars, villages and towns along 
        the Nile and much more include our short or longer trips, always designed with every detail and with the best facilities. Images different, 
        images colourful and... bustling!
      </p>
      <h6>What to expect</h6>
      <p>
        Our tour of Egypt starts of course in Cairo, the capital and largest city of the country. We will visit Cairo's famous archaeological 
        museum, the old city, the Al Khalili market and of course the archaeological site of Giza with its pyramids and Sphinx, one of the most 
        recognizable images on the planet. We then come to Alexandria to see the famous Library, which aspires to have the splendor of its 
        Ptolemaic counterpart, as well as the catacombs and the city's seafront. We then fly to Luxor, with the magnificent temples at Karnak 
        and on the west bank of the Nile with the Valley of the Kings, and sail to the Aswan Dam and the artificial Lake Nasser.
      </p>
      <p>
        We opt for a 5-day cruise on the Nile, on a luxury cruise ship, in order to have the time required to allow us to get to know in 
        detail the archaeological world of Egypt. With half board throughout the program (and full board on the cruise ship) and full days, 
        with in-depth guided tours, and generally a full program with no optional tours or dinners, so that you can be cost assured from the start. 
        One thing is for sure, Egypt, mother of brilliant cultures, offers the traveler powerful experiences.
      </p>
    </div>
</section>
{% endblock %}