{% extends 'base.html' %}

{% set active = "Our trips" %}
{% set active_cont = "Oceania" %}
{% set active_cont = "Europe" %}

{% block title %}
Related Sites
{% endblock %}

{% block content %}

<span class="path"> Our trips > <a class="path" style="text-decoration: none;" href="/europe"> Europe </a> > Iberian Peninsula</span>

<section class="trip-details">

    <section class="carousel-section">
      <div id="trips-carousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/europe/daniel-corneschi-N6HTCyN50p0-unsplash.jpg" alt="tribe-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/europe/aayush-gupta-ljhCEaHYWJ8-unsplash.jpg" alt="coral-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/europe/yassine-nacif-7cKEPfRQamI-unsplash.jpg" alt="bay-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/europe/henrique-ferreira-62QRdDoe44M-unsplash.jpg" alt="jungle-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/europe/raimond-klavins-18iU7bHCjeo-unsplash.jpg" alt="house-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/europe/svetlana-gumerova-gOLCAOuc7iA-unsplash.jpg" alt="boy-img">
            </div>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#trips-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#trips-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>
    </section>
    <div class="trip-text">
      <h2>
        The trip in a nutshell
      </h2>
      <p>
        The philosophy of our European trips is to offer a uniquely organized program, original, complete and designed as a full day travel 
        experience that you will never forget.  Especially on this trip you will experience Lisbon from the inside, with our experienced and 
        qualified guide who will be with you all the time. We have organized a specially designed walking tour of the hidden beauties of the city, 
        known only to the locals and the places where the great Portuguese poet Fernando Pessoa lived. On this tour we will also use, together with 
        our guide, the city's very scenic public transport, such as the cog railway and tram, for a completely genuine and authentic experience. 
        As part of this Lisbon experience, we visit neighboring Evora, a museum city, which is an entire UNESCO monument. In addition, we have an 
        extensive Barcelona tour program, complete with a full day excursion to the magnificent Gerona and the picturesque town of Figueres with a 
        visit to the Salvador Dali Museum.
      </p>
      <h6>What to expect</h6>
      <p>
        On this trip we delve into Lisbon but also follow in the footsteps of the world-famous poet Fernando Pessoa, who praised it in his own 
        unique way. In addition we visit its magical surroundings on the Atlantic. We go to the very expensive and luxurious 19th century royal 
        resorts of Estoril, Cascais, Sidra and the westernmost tip of Europe, Cabo da Roca. We spend a full day in the very historic Evora, a 
        city designated as a UNESCO "museum". We also see the traditional coastal villages of Obidos, Nazaré, Alcobasa and the gardens at Quinta 
        dos Lourintos.
      </p>
      <p>
        Our next stop is Barcelona, famous for its architecture and especially for the buildings of Antoni Gaudí, which are all UNESCO monuments. 
        Next is the medieval city of Gerona, one of the most beautiful in Catalonia, and Figueres - home of Salvador Dali. There is the museum of 
        the surrealist painter with the largest collection of his works in the world.
      </p>  
    </div>
</section>
{% endblock %}