{% extends 'base.html' %}

{% set active = "Our trips" %}
{% set active_cont = "Asia" %}

{% block title %}
Related Sites
{% endblock %}

{% block content %}
<span class="path"> Our trips > <a class="path" style="text-decoration: none;" href="/asia"> Asia > </a>
<a class="path" style="text-decoration: none;" href="/middle_east"> Middle East </a> > Istanbul</span>

<section class="trip-details">

    <section class="carousel-section">
      <div id="trips-carousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/adli-wahid-3-QB-YKxTKY-unsplash.jpg" alt="tribe-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/michael-parulava-L0P7v1R8JhM-unsplash.jpg" alt="tribe-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/meric-dagli-xmZ7nuqK7kg-unsplash.jpg" alt="tribe-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/tom-hermans-O6nOEZcLCWQ-unsplash.jpg" alt="tribe-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/anna-berdnik-0n0AHB1fgTQ-unsplash.jpg" alt="tribe-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/stefan-kostoski-vv5qijsMPys-unsplash.jpg" alt="tribe-img">
            </div>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#trips-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#trips-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>
    </section>
    <div class="trip-text">
      <h2>
        The trip in a nutshell
      </h2>
      <p>
        A colourful, bustling, intoxicating city, at the meeting point of two continents - Europe and Asia - and two seas - the Black Sea and the 
        Mediterranean.
      </p>
      <p>A city with a wonderful natural setting and a spectacular topography.</p>
      <p>
        The memories of its millennial history, the richness of its monuments, its picturesque old quarters and the modern face of the city give 
        it a unique charm. With its gaze fixed on the West and its soul given to the East, it fuses the most resonant contrasts in its innermost 
        being. Skyscrapers are mixed with minarets, sirens with the voice of the muezzin, kismet with programming.  The European orientation of 
        the city is in constant tug-of-war with the Asian roots of its population. A city built on seven hills and surrounded on three sides by 
        water, its magic intertwined with legends, history and poetry.
      </p>
      <p>
        A city that holds an exceptional place in world history. A city of many names: New Rome, Constantine's City, Queen of Cities, Queen's 
        Palace.
      </p>

      <h6>The trip also includes</h6>
      <ul>
        <li>Touching moments with walks along the Theodosia land walls</li>
        <li>Walking through the Sulaymaniye area with its preserved Ottoman convents, the famous mosque of Mimar Sinan built for Suleiman the 
          Magnificent and the Church of the Incomprehensible Christ</li>
        <li>Walk to the picturesque Mesochori (Ortaköy) for an unforgettable sunset on the Bosphorus</li>
        <li>Cruise on the Bosphorus with its unique refreshing breeze , the coastal Sultan palaces and the magnificent wooden cottages (Yalia)</li>
        <li>Ride on the Keratian Bay by boat for a rare view of the Great School of Genos and the seven hills of the city</li>
        <li>Delightful walks in the colorful bazaars of Misir Carsisi and Kapali Carsi City</li>
        <li>Walking tour of the Fanari, the Great School of Genous, the Old Quarter of Peran and the Tower of Galata, with references to the old 
          thriving Greek community</li>
        <li>A full day excursion to the stately Principe and Halki with its famous Theological School</li>
      </ul>
    </div>
</section>
{% endblock %}