{% extends 'base.html' %}

{% set active = "Our trips" %}
{% set active_cont = "Asia" %}

{% block title %}
Related Sites
{% endblock %}

{% block content %}
<span class="path"> Our trips > <a class="path" style="text-decoration: none;" href="/asia"> Asia > </a>
<a class="path" style="text-decoration: none;" href="/far_east"> Far East </a> > Japan</span>

<section class="trip-details">

    <section class="carousel-section">
      <div id="trips-carousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/manuel-cosentino-n--CMLApjfI-unsplash.jpg" alt="tribe-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/sora-sagano-8sOZJ8JF0S8-unsplash.jpg" alt="tribe-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/tianshu-liu-SBK40fdKbAg-unsplash1.jpg" alt="tribe-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/jj-ying-9Qwbfa_RM94-unsplash.jpg" alt="tribe-img">
            </div>

            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/jezael-melgoza-layMbSJ3YOE-unsplash.jpg" alt="tribe-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/clay-banks-hwLAI5lRhdM-unsplash.jpg" alt="tribe-img">
            </div>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#trips-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#trips-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>
    </section>
    <div class="trip-text">
      <h2>
        The trip in a nutshell
      </h2>
      <p>
        A rich cultural journey to the Land of the Rising Sun during the cherry blossom season (Sakura Season). We visit the cities of Japan when 
        the cherry trees are at their peak! In Japan, flowering trees, and especially cherry trees, become the occasion for a painting-like 
        celebration every year: hanemi. A symbol of spring, cherry trees have a flowering period that lasts just one week. During this time, 
        the country's inhabitants celebrate the splendor of nature and organize walks in places overwhelmed by colors and scents. But we don't 
        stop there: at Globus we are always looking for something more, new experiences and exploring areas that still have a lot to offer. 
        So we come to the so-called Japanese Alps, the Takayama and Kanazawa region to experience aspects of authentic, traditional Japan.
      </p>
      <p>
        A vast island cluster, which could have been in a different planet. In a world that is becoming more and more alike, especially in cities, 
        Japan is the great exception. Pure in population, with a strict education and culture common to all, it has a solid image of people, 
        sometimes enveloping you in a suffocating way, and sometimes surprising you with its gentleness, order, and discipline. Vertical cities, 
        labyrinthine buildings, but also immaculate, painstakingly tended nature, worshipped like a deity - especially on weekend, and especially 
        by the colorful crowd of otherwise uniformed weekday office workers. A mountainous country, with very little arable land in proportion to 
        its large population, it has high land and housing prices. 
      </p>
      <h6>The trip also includes</h6>
      <ul>
        <li>1 night in Matsumoto and 1 night in Kanazawa where we will see the "samurai quarter". On this occasion we also see the so-called 
          "Japanese Alps" and part of traditional Japan, beyond the futuristic!</li>
        <li>Visit to Hiroshima with the Peace Park.</li>
        <li>Cable car ascent to Station 5 of Mount Fuji!</li>
        <li>2  stays in expensive and traditional Kyoto.</li>
        <li>2 trips by bullet train.</li>
        <li>Visit to the Tokyo National Museum, the oldest and largest in Japan. </li>
        <li>Day trip from Tokyo to Nikko with its luxurious and elaborately decorated buildings.</li>
        <li>Visit to Kegon Falls, Nikko, where we ascend using an elevator.</li>
        <li>"Tea ceremony", exclusively on our program.</li>
        <li>Visit to the bamboo forest in Kyoto.</li>
        <li>Cable car ascent to the "Valley of Boiling", on Mount Fuji.</li>

        
      </ul>
    </div>
</section>
{% endblock %}