{% extends 'base.html' %}

{% set active = "Our trips" %}
{% set active_cont = "Africa" %}

{% block title %}
Related Sites
{% endblock %}

{% block content %}

<span class="path"> Our trips > <a class="path" style="text-decoration: none;" href="/africa"> Africa </a> > Kenya - Uganda</span>

<section class="trip-details">

    <section class="carousel-section">
      <div id="trips-carousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/africa/harshil-gudka-kfxEUCTUeyg-unsplash.jpg" alt="tribe-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/africa/max-christian-sMjVNtvYkD0-unsplash.jpg" alt="coral-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/africa/bibhash-knapsnack-life-banerjee-3QPNiZ_Nqjs-unsplash.jpg" alt="bay-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/africa/randy-fath-osXl4JI3vcQ-unsplash.jpg" alt="jungle-img">
            </div>

            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/africa/craig-stevenson-Lrfeth2WaOo-unsplash.jpg" alt="house-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/africa/sergey-pesterev-DWXR-nAbxCk-unsplash1.jpg" alt="boy-img">
            </div>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#trips-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#trips-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>
    </section>
    <div class="trip-text">
      <h2>
        The trip in a nutshell
      </h2>
      <p>
        We have created a special 14-day program for wildlife lovers and travelers seeking the untouched. Our trip to Kenya and Uganda gives us 
        real life experiences through our interaction with wildlife in the countries’ spectacular national parks! An encounter with mountain 
        gorillas is something that will leave us amazed, and may make us rethink many things. With plenty of safaris in the parks, with experienced 
        guides and accommodation in selected lodges, and carefully planned itineraries to make the most of our time with no backtracking and 
        repetitive routes. A trip to the heart of wild Africa just as you asked for!
      </p>
      <h6>Highlights</h6>
      <p>
        We start our journey from the capital Kampala, built on seven hills on the shores of Lake Victoria. Continuing into Uganda's 
        interior we observe white rhinos at Ziwa Sanctuary and take in the spectacle at Merchison Falls that form the waters of the Nile. 
        We are then treated to a chimpanzee safari in Kibale National Park, Kanyanchu Park with its black and white colombus monkeys and arrive 
        at the famous Queen Elizabeth National Park where we have two overnight stays. We will boat on the Kazinga Channel, transfer to the park's 
        Ishasa sector to see the rare climbing lions, enter the Inaccessible Buindi Forest where we will also meet the Pygmy Batwa, an ancient 
        tribe of hunter-gatherers.  In Buindi we will also have the thrilling experience offered only by a gorilla safari, an experience of a 
        lifetime that will move us and will certainly make us see many things in a different light. From Lake Mutanta we approach the Bhaghinga 
        National Park with its rare golden monkeys. Finally we fly to Nairobi to enter Kenya for a journey "Beyond Africa": a tour of Kenya's 
        stunning parks and beautiful lakes - Masai Mara, Nakuru and Naivashawith.
      </p>
    </div>
</section>
{% endblock %}