{% extends 'base.html' %}

{% set active = "Our trips" %}
{% set active_cont = "America" %}

{% block title %}
Related Sites
{% endblock %}

{% block content %}
<span class="path"> Our trips > <a class="path" style="text-decoration: none;" href="/america"> America > </a>
<a class="path" style="text-decoration: none;" href="/central_america"> Central America </a> > Mexico</span>

<section class="trip-details">

    <section class="carousel-section">
      <div id="trips-carousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/america/marv-watson-UfK0P6WygEE-unsplash1.jpg" alt="tribe-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/america/braden-collum-2sAQ3v6e_s8-unsplash.jpg" alt="coral-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/america/vince-russell-z_b5fhL2wyc-unsplash.jpg" alt="bay-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/america/crisoforo-gaspar-hernandez-eLqm1qHJJgI-unsplash.jpg" alt="jungle-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/america/manuel-asturias-Vq-NkZ42I24-unsplash.jpg" alt="house-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/america/mario-la-pergola-huMh6cfhl_o-unsplash.jpg" alt="boy-img">
            </div>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#trips-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#trips-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>
    </section>
    <div class="trip-text">
      <h2>
        The trip in a nutshell
      </h2>
      <p>
        Mexico is already known for its magnificent archaeological sites, its wonderful nature, its unique architecture. But on this trip, we want 
        to go beyond the familiar, the known Mexico. To explore the authentic, traditional Mexico, as it unfolds through its legends and its unique, 
        colonial architecture. We expect to be close to dramatic and unpredictable nature, to experience the countryside with its imaginative 
        architecture, to wander through cobbled squares and alleys where life seems to have fallen dormant, to wander through Morelia, to enjoy the 
        sunset in colonial-style towns, in a time travel experience unlike any other. The addition of Taxco and Cuernavaca, and the stay in Puebla 
        are added value to the trip, which you will only find at Globus. A trip completely different, for travelers who want to visit places off the 
        beaten track…
      </p>
      <h6>What to expect</h6>
      <ul>
        <li>A wonderful trip to Mexico, encapsulating some of the most important elements of its history, culture and beautiful nature. </li>
        <li>An itinerary that takes us from Mexico City to the most important pilgrimage of Latin Americans - Our Lady of Guadalupe - and perhaps 
          the holiest site of the pre-Columbian civilizations, Teotihuacan. </li>
        <li>We then come to Queretaro, one of the 15 "most authentic cities in the world", San Miguel de Ayente and Guanajuato, to arrive via 
          Pachquaro in colourful, traditional Morelia. After our stay and tour of Morelia, we return to Mexico City to visit the house-museum of 
          Frida Kahlo. Next are three colonial gems, Cuernavaca, Taxco and Puebla, the last one we stay in to enhance the experience.</li>
      </ul>
    </div>
</section>
{% endblock %}