{% extends 'base.html' %}

{% set active = "Our trips" %}
{% set active_cont = "Asia" %}

{% block title %}
Related Sites
{% endblock %}

{% block content %}
<span class="path"> Our trips > <a class="path" style="text-decoration: none;" href="/asia"> Asia > </a>
<a class="path" style="text-decoration: none;" href="/indian_peninsula"> Indian Peninsula </a> > North India - Nepal</span>

<section class="trip-details">

    <section class="carousel-section">
      <div id="trips-carousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/jovyn-chamb-iWMfiInivp4-unsplash.jpg" alt="tribe-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
                <img class="home-img" src="../static/img/asia/snowscat-JIjCxenDxPY-unsplash.jpg" alt="tribe-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/meghraj-neupane-YtEzq-hnv5k-unsplash.jpg" alt="tribe-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/dexter-fernandes-y97sM41-g9k-unsplash.jpg" alt="tribe-img">
            </div>

            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/vivek-sharma-1pNm4DFts4U-unsplash.jpg" alt="tribe-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/ravi-shekhar-P0a6TT0CvKg-unsplash.jpg" alt="tribe-img">
            </div>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#trips-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#trips-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>
    </section>
    <div class="trip-text">
      <h2>
        The trip in a nutshell
      </h2>
      <p>
        Tour of atmospheric Nepal and then India. Our journey begins with the wonderful Nepal, the crossroads of peoples, the bustling 
        capital Kathmandu with its narrow picturesque streets and of course the Sacred Valley with its impressive stupas. To our very successful 
        and proven program "India - Golden Triangle" we added Varanasi, the "Mecca of the Hindus", Sarnath, where the Buddha first taught, and 
        Kajuraho with the erotic sculptures decorating the walls of its temples, making a very rich 16-day trip. Its great asset, apart from the 
        excellent hotels and many other quality services, remains the expedition leader, as Globus works with a team of excellent leaders in India. 
        Only with the right, experienced and well-read leader can you immerse yourself in this land of contrasts, colors, fragrances, saris, 
         maharajas, saints and fakirs. Why risk it?
      </p>
      <h6>The trip also includes</h6>
      <ul>
        <li>Accommodation in Kathmandu in a 5* hotel</li>
        <li>Dinner with Nepalese dances in Kathmandu</li>
        <li>Accommodation in Varanasi, the "Mecca of the Hindus", where devotees seek salvation in the waters of the sacred river Ganges</li>
        <li>Visit to Sarnath, the place where the Buddha first taught</li>
        <li>Stay at the unique Kajuraho in Central India, with its elaborate, unique temples and their magnificent sculptures</li>
        <li>Full day visit to Panna National Park with a tiger safari</li>
        <li>Traditional Indian dances "Kandariya" in Kajuraho</li>
        <li>Visit to the village of Ambaneri, where we will see the baori, a peculiar architecture of a water tank with gradually decreasing 
          scales</li>
        <li>The mausoleum "Chini Ka Rauza" in Agra</li>
        <li>The Mausoleums of the Kings of Jaipur "Gaitor"</li>
        <li>Ride in the centre of Jaipur and the Ghats in Varanasi in traditional rickshaws</li>
        <li>Attendance of "Aarti" prayer ceremony</li>

      </ul>
    </div>
</section>
{% endblock %}