{% extends 'base.html' %}

{% set active = "Our trips" %}
{% set active_cont = "Europe" %}

{% block title %}
Related Sites
{% endblock %}

{% block content %}

<span class="path"> Our trips > <a class="path" style="text-decoration: none;" href="/europe"> Europe </a> > Italy</span>

<section class="trip-details">

    <section class="carousel-section">
      <div id="trips-carousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/europe/david-kohler-VFRTXGw1VjU-unsplash.jpg" alt="tribe-img">
            </div>

            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/europe/faruk-kaymak-RH0QUHYPeW4-unsplash.jpg" alt="coral-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/europe/michele-bitetto-2y6ojwauKJI-unsplash.jpg" alt="bay-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/europe/fineas-anton-kC1-9Snr9hI-unsplash.jpg" alt="jungle-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/europe/carlos-ibanez-oI141-aIwnQ-unsplash.jpg" alt="house-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/europe/cristina-gottardi-I1Lv2yX67GI-unsplash.jpg" alt="boy-img">
            </div>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#trips-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#trips-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>
    </section>
    <div class="trip-text">
      <h2>
        The trip in a nutshell
      </h2>
      <p>
        Another amazing European trip by Globus, always out of the box. An itinerary dedicated to the magnificent Tuscany, Liguria and also Umbria. 
        With comfortable transfers, this trip will offer unforgettable experiences in a familiar country. We get to know Tuscany from the inside, 
        with a stay in Florence but excursions to its wondrous little villages, medieval Siena and San Gimignano with its majestic towers. We use 
        medieval Lucca with its octagonal shape as a base for our exploration of the Ligurian coast, La Spezia in Portofino, Santa Margarita in 
        Liguria and the magical region and coastline of Cinque Terre, the "five lands" - the five hanging villages - that can only be likened to 
        paintings. The boat trip, the train ride and the special entrance to Portofino and the towns are of course included in the price of the tour. 
        Also centered in Perugia, we will get to know the medieval Umbria and its villages.  The entrance and the special guided tour of the Uffizi 
        Gallery are considered one of the strong advantages of an excursion in which one experience follows the other.
      </p>
      <h6>Highlights</h6>
      <p>
        After a 2-day stay in Rome, we head to Umbria and after admiring the jewel city of the Italian Middle Ages, Perugia, and the cities 
        with the impressive architectural wealth of Asisi and Arezzo, we head to Tuscany to get to know it in depth. We visit the charming villages 
        of Montalcino but also medieval Siena and San Gimignano with its majestic towers. We reach the medieval Luka, which will be the base for our 
        exploration of the Ligurian coast, La Spezia and the Cinque Terre area. We visit Pisa with its famous Leaning Tower and continue to the crown 
        jewel of cities, Florence. On this wonderful journey where the experiences never end we also focus on the Italian Riviera, the much-sung-about 
        Portofino and the colorful Santa Margarita in Liguria. But the trip is also an anthem for another reason, to get to know the Uffizi Gallery 
        from the inside, as we have organized a visit and a special tour.
      </p>
    </div>
</section>
{% endblock %}