{% extends 'base.html' %}

{% set active = "Our trips" %}
{% set active_cont = "Oceania" %}

{% block title %}
Related Sites
{% endblock %}

{% block content %}

<span class="path"> Our trips > <a class="path" style="text-decoration: none;" href="/oceania"> Oceania </a> > Sidney</span>

<section class="trip-details">

    <section class="carousel-section">
      <div id="trips-carousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/oceania/jordan-whitt-EerxztHCjM8-unsplash.jpg" alt="tribe-img">
            </div>

            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/oceania/johnny-bhalla-DLbCETd599Y-unsplash.jpg" alt="coral-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/oceania/quentin-grignet--8fBv_bR4pU-unsplash.jpg" alt="bay-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/oceania/david-clode-yLxQRYpuwqg-unsplash.jpg" alt="boy-img">
            </div>

            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/oceania/david-clode-CIMk0FSOrAE-unsplash.jpg" alt="jungle-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/oceania/oskars-sylwan-npUT41ETTvI-unsplash.jpg" alt="house-img">
            </div>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#trips-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#trips-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>
    </section>
    <div class="trip-text">
      <h2>
        The trip in a nutshell
      </h2>
      <p>
        In the most luxurious way we arrive in Australia, we land in Sydney and after seeing Melbourne we depart for Auckland and then - with a 
        domestic flight - to Queenstown, in order to see the most important parts of the largest island in the world. The exuberance of the 
        program is immediately apparent to the experienced traveler: daily half board, the Blue Mountains excursion and much more...
      </p>
      <h6>Highlights</h6>
      <ul>
        <li>Two-day trip to Ayers Rock.</li>
        <li>Train excursion to Kuranda Rainforest and ride the famous Skyrail over the rainforest.</li>
        <li>Catamaran cruise to the wonder of nature, the Great Coral Reef with seafood buffet lunch, snorkeling, fish feeding and other activities.</li> 
        <li>Half board throughout the program, especially important for Australia.</li>
        <li>A unique excursion to the Blue Mountains from Sydney and a visit to a park with koalas, kangaroos etc.</li>
      </ul>
    </div>
</section>
{% endblock %}