{% extends 'base.html' %}

{% set active = "Our trips" %}
{% set active_cont = "Asia" %}

{% block title %}
Related Sites
{% endblock %}

{% block content %}
<span class="path"> Our trips > <a class="path" style="text-decoration: none;" href="/asia"> Asia > </a>
<a class="path" style="text-decoration: none;" href="/far_east"> Far East </a> > South Korea</span>

<section class="trip-details">

    <section class="carousel-section">
      <div id="trips-carousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/louie-nicolo-nimor-1Tf8X648BfA-unsplash.jpg" alt="tribe-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/konrad-ziemlewski-dNtwZ-VnZ30-unsplash.jpg" alt="tribe-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/cait-ellis-Erld-XTqXv0-unsplash1.jpg" alt="tribe-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/sava-bobov-eVa2FK83K6w-unsplash.jpg" alt="tribe-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/bundo-kim-p_D5pbQG5TE-unsplash.jpg" alt="tribe-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/daniel-bernard-qjsmpf0aO48-unsplash.jpg" alt="tribe-img">
            </div>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#trips-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#trips-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>
    </section>
    <div class="trip-text">
      <h2>
        The trip in a nutshell
      </h2>
      <p>
        A rich cultural journey to South Korea that includes the most important places in the country that we have selected after field 
        research. With selected visits to experience the philosophy and culture of the country without tiring us out. In addition, we visit 
        South Korea in spring, when the lush nature puts on its festive clothes and dresses up in the brightest colors!
      </p>
      <h6>Highlights</h6>
      <ul>
        <li>Acquaintance with Seoul, with the impressive Geyongbok Palace, or North Palace, as it is also called, which is considered to be the 
          most beautiful of all, with its foundations dating back to the late 16th century and its current form being formed largely in the 
          mid-19th century. It is the most representative example of the Joseon dynasty, along with the National Folk Museum which we will also 
          visit.</li>
        <li>Visiting the huge Cheonggyecheon, a large amusement park developed along a local stream, which for many years had been covered up in 
          order to be used as a road. </li>
        <li>Passing by the Gwangwamun Square and the commercial district Miengdong.</li>
        <li>Departing from Seoul to the city of Busan, we will  stop in Gyeongju city to see, among other things, the Bulkuksha Temple and the 
          great Daereungwon tomb complex.</li>
      </ul>
    </div>
</section>
{% endblock %}