{% extends 'base.html' %}

{% set active = "Our trips" %}
{% set active_cont = "Asia" %}

{% block title %}
Related Sites
{% endblock %}

{% block content %}
<span class="path"> Our trips > <a class="path" style="text-decoration: none;" href="/asia"> Asia > </a>
<a class="path" style="text-decoration: none;" href="/indian_peninsula"> Indian Peninsula </a> > Sri Lanka</span>

<section class="trip-details">

    <section class="carousel-section">
      <div id="trips-carousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/road-trip-with-raj-0uI8LANIe0A-unsplash.jpg" alt="tribe-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/hendrik-cornelissen-jpTT_SAU034-unsplash.jpg" alt="tribe-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/alex-azabache-hZhhVLLKJQ4-unsplash.jpg" alt="tribe-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/sander-don-sGg_8msiIt0-unsplash.jpg" alt="tribe-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/chathura-anuradha-subasinghe-_M4yPHONK58-unsplash.jpg" alt="tribe-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/ramlan-junkeer-b7wGKvzTFaw-unsplash.jpg" alt="tribe-img">
            </div>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#trips-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#trips-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>
    </section>
    <div class="trip-text">
      <h2>
        The trip in a nutshell
      </h2>
      <p>
        Since the first Globus tours, this trip has had hundreds of events under its belt, the result of which is this well-planned tour of Sri Lanka. 
        Always on the lines of Globus Travel, a comprehensive program with quality features, so that we get to know Sri Lanka on a rich trek from 
        Colombo, Polonnaruwa and Anuradapura to Gale and Yala Park in the south! With a thoughtful selection of overnight stays in areas with 
        beautiful hotels rather than others without tourist infrastructure. We also dedicate a stay in Yala Park to explore Southeastern Sri Lanka 
        with greater ease. With proper duration - not "truncated" to cut costs in a country where road trips are particularly time consuming. 
        Elephants, archaeological treasures, mystical atmosphere, lush green trails, exotic beaches in a trip overflowing with exoticism. 
        The excellent, quality standards of our program and our many years of experience in the region guarantee an unforgettable excursion.
      </p>
      <h6>The trip also includes</h6>
      <ul>
        <li>
          <li>A whole day dedicated to the very interesting capital of Sri Lanka, Colombo </li>
          <li>Entrances to the attractions in Sri Lanka that have a high cost but that does not lead us to reduce the visits </li>
          <li>Overnight stay in Polonnaruwa to enjoy the great archaeological site</li>
          <li>Visit to the iconic site of Anuradapura in northern Sri Lanka </li>
          <li>Two overnight stays on Sri Lanka's excellent beaches to allow us to enjoy the tropical atmosphere, relax at the end of the trip in 
            a paradise environment drowned in coconut trees</li>
          <li>A boat safari in the lush river vegetation of the area, a safari that Globus has discovered and offers you - an on-board journey of 
            observing not only the tropical nature of the area but also local life as it develops on the river banks</li>
          <li>Accommodation in the quaint colonial town of Nuwara Eliya with its tea plantations</li>
          <li>4x4 jeep safari to Yala Park, the largest and richest park in the country to get in touch with the natural environment and the 
            animal kingdom of the country</li>
          <li>Stay in the country's largest park, Yala Park</li>
          <li>Show with local dances and walking on the charcoal in Kandy</li>
          <li>Visit to the beaches of Beruvella and stay in the Vaskaduwa area, with surprise activities, courtesy of Globus</li>
          <li>Visit to picturesque Gale</li>
        
      </ul>
    </div>
</section>
{% endblock %}