{% extends 'base.html' %}

{% set active = "Our trips" %}
{% set active_cont = "Asia" %}

{% block title %}
Related Sites
{% endblock %}

{% block content %}
<span class="path"> Our trips > <a class="path" style="text-decoration: none;" href="/asia"> Asia > </a>
<a class="path" style="text-decoration: none;" href="/indochina"> Indochina </a> > Thailand</span>

<section class="trip-details">

    <section class="carousel-section">
      <div id="trips-carousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/mathew-schwartz-gsllxmVO4HQ-unsplash.jpg" alt="tribe-img">
            </div>

            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/norbert-braun-QBiXKrnY3Y4-unsplash.jpg" alt="tribe-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/florian-wehde--y3sidWvDxg-unsplash.jpg" alt="tribe-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/norbert-braun-xlj7WZQIgm8-unsplash.jpg" alt="tribe-img">
            </div>

            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/geoff-greenwood-rH1aA4TqGms-unsplash.jpg" alt="tribe-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/sumit-chinchane-jWKk-0ZBUyg-unsplash.jpg" alt="tribe-img">
            </div>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#trips-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#trips-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>
    </section>
    <div class="trip-text">
      <h2>
        The trip in a nutshell
      </h2>
      <p>
        Exclusive Globus trip that includes the whole of Thailand north of Bangkok and not just the Golden Triangle area. 
        Our route from the North to Bangkok hides great pearls, such as Sukhothai, the first capital of Thailand and cradle of Thai culture, 
        Pichanulok, the "city of two rivers", and Ayutthaya, another old Thai capital, where we will admire wonderful creations of man and nature. 
        Among the big highlights of our trip is exploring the Kwai River region in western Thailand, where we not only visit but stay overnight in 
        an excellent lodge on the river!
      </p>
      <h6>What to expect</h6>
      <p>
        A wonderful trip to Northern Thailand, starting from its capital Bangkok, where you will take a flight to the Golden Triangle region 
        - Chiang Mai and Chiang Rai. From there it continues to Sukhothai, the city considered the cradle of Thai culture; Pichanulok, the "City 
        of Two Rivers"; Ayutthaya, the capital of the most important of the early kingdoms of Siam; and on to the Kwai River region where we stay 
        overnight at an excellent resort. We finally arrive in the "City of Angels", Bangkok, where our itinerary includes three overnight stays, 
        with extensive sightseeing and plenty of free time for exploration and leisurely wanderings.
      </p>
    </div>
</section>
{% endblock %}