{% extends 'base.html' %}

{% set active = "Our trips" %}
{% set active_cont = "Africa" %}

{% block title %}
Related Sites
{% endblock %}

{% block content %}

<span class="path"> Our trips > <a class="path" style="text-decoration: none;" href="/africa"> Africa </a> > Tunisia</span>

<section class="trip-details">

    <section class="carousel-section">
      <div id="trips-carousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/africa/haythem-gataa-NULfCuLFTLg-unsplash.jpg" alt="tribe-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/africa/latrach-med-jamil-S-t41wfNPh8-unsplash.jpg" alt="coral-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/africa/kamala-bright-FsDDjHTZmh4-unsplash.jpg" alt="bay-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/africa/rene-muller-ogoYCZT8VHk-unsplash.jpg" alt="jungle-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/africa/elena-mozhvilo-78MC1uRvgS4-unsplash.jpg" alt="house-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/africa/juan-ordonez-SIvfVmejLyY-unsplash.jpg" alt="boy-img">
            </div>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#trips-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#trips-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>
    </section>
    <div class="trip-text">
      <h2>
        The trip in a nutshell
      </h2>
      <p>
        Nine wonderful days in Tunisia, right in the middle of the North African coastline, is a trip which stands out from the classic programs 
        in this Mediterranean country. With overnight stays in Douz and Sfax, we don't rush back from the oases to Tunis but instead trace the 
        southern part. What do we gain? Beautiful images and experiences in authentic Berber villages and markets! We start from the capital Tunis 
        and head south to the famous oases on the edge of the Sahara, along with the famous Star Wars movie set! We see troglodyte houses, Berber 
        villages (such as Matmata, Tuzan and Metamer), as well as ruins of ancient civilizations (such as in Carthage) and visit resorts such as 
        Hammamet to get a full and complete picture of this wonderful country.
      </p>
      <h6>What to expect</h6>
      <p>
        A 9-day program in Tunisia, starting from the capital Tunis and continuing through the picturesque village of Testour and the 
        Roman Duga to reach the legendary holy city of the Arabs, the legendary Kairouan. On the way to Tozer we see the picturesque village of 
        Jelma and the small town of Gafsa and tour the desert gem called Tozer. We enjoy a 4x4 safari in the desert between oases, cross the salt 
        flats of Lake Chot El Jerid and arrive at the Saharan landmark city of Douz. We move on to the... alien planet Tatooine, come to Matmata 
        with the Troglodytes, pass through the famous port of Gabes and end up in Sfax. We are stunned at the amazing Roman amphitheatre in El Cem, 
        we continue to Sousse with the mausoleum of Tunisia's first president, we get to know the cosmopolitan resort of Hammamet and the 
        archaeological site of the legendary Carthage, and for the conclusion of our journey we tour Tunis and the picturesque and white-washed Cidi 
        Bou Said, the "Cycladic village of Tunisia"!
      </p>
    </div>
</section>
{% endblock %}