{% extends 'base.html' %}

{% set active = "Our trips" %}
{% set active_cont = "Asia" %}

{% block title %}
Related Sites
{% endblock %}

{% block content %}
<span class="path"> Our trips > <a class="path" style="text-decoration: none;" href="/asia"> Asia > </a>
<a class="path" style="text-decoration: none;" href="/indochina"> Indochina </a> > Vietnam - Cambodia</span>

<section class="trip-details">

    <section class="carousel-section">
      <div id="trips-carousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="6" aria-label="Slide 7"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/martijn-vonk-aXVb-OcEGkg-unsplash.jpg" alt="tribe-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/lisheng-chang-m9BBVrPl87M-unsplash.jpg" alt="tribe-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/aleksandra-b-fhhTWNdOtYo-unsplash.jpg" alt="tribe-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/tran-phu-yPP08FAft7I-unsplash.jpg" alt="tribe-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/h-ng-nguy-n-vi-t-5pYUt2gEZaA-unsplash.jpg" alt="tribe-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/ruslan-bardash-8MhejqEghLk-unsplash.jpg" alt="tribe-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/asia/steffen-b-qDZ-Xd8dX6w-unsplash.jpg" alt="tribe-img">
            </div>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#trips-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#trips-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>
    </section>
    <div class="trip-text">
      <h2>
        The trip in a nutshell
      </h2>
      <p>
        It is a full-bodied, overcrowded program that leaves nothing to be desired. If the name Vietnam only conjures up images of movies, 
        like the legendary Deer Hunter, then a trip to this country, as conducted by Globus Travel, will do the trick. We'll show you a charming 
        place with vast rice paddies, a meek people and cities that draw visitors into a colorful whirlwind. On the edge of the East, a program 
        "loaded", as you are used to, with many unprecedented attractions. We combine Vietnam with neighboring Cambodia and the imposing Siem Reap, 
        where we secure three nights' accommodation to give us all the time we need to enjoy Angkor Wat and its impressive temples. Quality features 
        such as accommodation in 5* hotels, in-hotel meals (except for lunch at Halong Bay) - an add-on that costs but ensures your enjoyment - a 
        tour of My Son, an important Cham cultural treasure, an immersion into the secrets of the Mekong Delta with a visit to a traditional village 
        and more that you will read about in our itinerary, make this more than just quality. Compare it with other programs of the market and you 
        will see at first glance what more we visit with this very interesting and with daily thrills program.
      </p>
      <h6>The trip also includes</h6>
      <ul>
        <li>Visit to the beautiful and uniquely architectural seaside town of Hoi An, and the imperial city of Hue, where we take a boat trip on 
          the Perfume River and stay</li>
        <li>Excursion to the sacred archaeological site of My Son, an excellent example of a religious complex of the Champa Kingdom</li>
        <li>2  nights in a 5* hotel (Du Park Hanoi) in Hanoi</li>
        <li>2  nights at the Eastin Grand Saigon 5* hotel, or similar, in Saigon</li>
        <li>Excursion to the Mekong Delta area and visit to the traditional My Tho village to get to know the local culture better</li>
        <li>Excursion to Mi Son from Hoi An, an outstanding archaeological site of the Cham dynasty </li>
        <li>Visit to the famous Golden Bridge in the Ba Na Hills</li>
        <li>Visit to the excellent Ethnological Museum in Hanoi</li>
        <li>Puppet show on the water in Hanoi and cruise on the Perfume River in Hue</li>
        <li>2 nights in Siem Reap</li>

      </ul>
    </div>
</section>
{% endblock %}