{% extends 'base.html' %}

{% set active = "Our trips" %}
{% set active_cont = "Oceania" %}

{% block title %}
Related Sites
{% endblock %}

{% block content %}

<span class="path"> Our trips > <a class="path" style="text-decoration: none;" href="/oceania"> Oceania </a> > West Papua</span>

<section class="trip-details">

    <section class="carousel-section">
      <div id="trips-carousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#trips-carousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/oceania/bob-brewer-GOIR5V_OH-k-unsplash.jpg" alt="tribe-img">
            </div>

            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/oceania/francesco-ungaro-MJ1Q7hHeGlA-unsplash.jpg" alt="coral-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/oceania/sutirta-budiman-DxmBSgUYKis-unsplash.jpg" alt="bay-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/oceania/geio-tischler-vgbeZNrr9jI-unsplash.jpg" alt="jungle-img">
            </div>

            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/oceania/asso-myron-B2SAZsH40fc-unsplash.jpg" alt="boy-img">
            </div>
            <div class="carousel-item container-fluid" data-bs-interval="2000">
              <img class="home-img" src="../static/img/oceania/saul-mercado-r-2t0AuZMNQ-unsplash.jpg" alt="house-img">
            </div>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#trips-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#trips-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>
    </section>
    <div class="trip-text">
      <h2>
        The trip in a nutshell
      </h2>
      <p>
        The trip in West Papua in not a simple trip, it's a lifetime experience and a demandind traveler that wants to get the most of this 
        experience know that only Globus can provide that.
      </p>
      <p>
        The island Papua or New Guinea is located it north of Australia and is one of the biggest islands on the plante. Its history is odd and
        perturbed, since it was conquered by the Dutchs, Germans, Australians and British. Today is devided into two parts: East Papua, which is an
        independent nation and West Papua, which belong to Indonesia. A unique feature of this place is that even today is preserves its original 
        and wild character. And when we say "wild" we mean both its nature and its inhabitants. 
      </p>
      <ul>
        <li>Boat ride in Brazza river with tropical flora.</li>
        <li>Trecking in the rainforest in Sentic.</li>
      </ul>
      <ul>
        <li>Overnight stay, boat rides and snorkeling in Raja Ampat sea. One of the most beautiful corners of the planet that we discover and totally recommend</li>
      </ul>
      <ul>
        <li>Visit to Maluku islands</li>
        <li>Visit tribe villages</li>
        <li>Overnight stay in Kabui bay where we'll see the famous coral reefs</li>
      </ul>
 
 
      <h6>The trip also includes</h6>
      <ul>
        <li>Special permission to enter Papua</li>
        <li>Donations to the villages</li>
      </ul>

    </div>
</section>

{% endblock %}